body {
  margin: 0;
  padding: 0;
  background: url(main.jpeg) no-repeat fixed;
}

img {
  position: fixed;
  top: 30%;
  left: 0.1%;
  opacity: 0.3;
}
p {
  text-align: center;
  font-size: 25px;
  line-height: 0.75;
}
.name {
  font-size: 30px;
}
.circle {
  position: fixed;
  top: 440px;
  left: 9%;
}
.menu {
  display: block;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 30px;
  color: rgb(10, 87, 61);
}
